* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #555;
  font-family: "inter", sans-serif;
  font-weight: 400;
  line-height: 1;
}

.container {
  width: 50rem;
  margin: 0 auto;
}

.changelog {
  margin-top: 10rem;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main-content {
  padding: 2.4rem 0;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #868e96;
}
.main-content button {
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.date-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
  color: #868e96;
}
.description-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
  border-left: 1px solid black;
  padding: 2rem 0 2rem 1rem;
}
.description-content {
  position: relative;
}

.description-content::before {
  content: " ";
  display: inline-block;
  position: absolute;
  padding-bottom: 1rem;
  width: 1rem;
  top: 50%;
  transform: translate(-160%, -50%);
  border-radius: 50%;
  background-color: black;
}
