* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.25%;
}
body {
  font-family: "inter";
}
/* class helper */
.margin-btm {
  margin-bottom: 1.2rem;
}

main {
  width: 50rem;
  margin: 2.4rem auto 2.4rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  border: 2px solid black;
  padding: 2.4rem 4.8rem;
}

h2 {
  color: #40c057;
  margin-bottom: 0.8rem;
}
h3 {
  color: #339af0;
  margin-bottom: 0.2rem;
}

p {
  margin-bottom: 0.3rem;
  line-height: 1.4;
}

ul {
  padding-left: 1.2rem;
  margin-bottom: 0.3rem;
}

li {
  margin-bottom: 0.2rem;
}
/* header */
header {
  margin-top: 2.4rem;
  border-top: 3px solid black;
  padding-top: 1.6rem;
}
header h1 {
  margin-bottom: 1.2rem;
}
/* address */

.address address {
  line-height: 1.4;
  font-style: normal;
}

/* education */
.education .education-content :nth-child(3) {
  margin-bottom: 0.4rem;
}

/* experience */
.experience-content :nth-child(4) {
  margin-bottom: 1.2rem;
}

/*
Source - https://stackoverflow.com/a/12801460
Posted by TrevC, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-12, License - CC BY-SA 4.0
*/
