/* 
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* General Compenent */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  width: 86rem;
  margin: 0 auto;
}
.heading-secondary {
  font-size: 2.4rem;
  font-size: 700;
  margin-bottom: 1.8rem;
}
.heading-tiatary {
  font-size: 1.8rem;
  font-size: 700;
  margin-bottom: 1.8rem;
}
.margin-btm {
  margin-bottom: 0.8rem;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}

.main-nav {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

.logo {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Averia Serif Libre";
  text-decoration: none;
  color: #555;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #555;
}

.dash::after {
  content: "/";
  margin-left: 1.2rem;
}
/* Section Hero */
.wrapper-hero {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.hero-text {
  font-size: 1.8rem;
  font-weight: 500;
}

/* contact */
.contact {
  padding: 0 0 2.4rem 0;
}
.contact-img {
  width: 100%;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  border: 1px solid black;
  border-radius: 11px;
  overflow: hidden;
}
.wrapper-contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.2rem 2.4rem;
}
.contact-heading {
  font-size: 3.6rem;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 2rem;
  font-family: inherit;
}
.contact-form label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
}
.contact-form textarea {
  max-height: 10em;
  min-height: 4rem;
  max-width: 37.4rem;
  min-width: 10rem;
}
.email-box {
  grid-column: 1/3;
  grid-row: 2/3;
}
.phone-box {
  grid-column: 1/3;
  grid-row: 3/4;
}
.message-box {
  grid-column: 1/3;
  grid-row: 4/5;
}
button {
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  grid-column: 1/3;
  grid-row: 5/6;
}

@media (max-width: 45rem) {
  .container {
    width: 100%;
  }
  .contact {
    margin: 0 1.5rem 0 1.5rem;
  }
  .contact-img {
    height: 50rem;
  }
  .contact-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50fr 55fr;
  }
  .contact-form textarea {
    max-height: 10em;
    min-height: 4rem;
    max-width: 50rem;
    min-width: 10rem;
  }
}
