/* 
-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* General Compenent */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  width: 86rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 1.4rem;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.heading-secondary {
  font-size: 2.4rem;
  font-size: 700;
  margin-bottom: 1.8rem;
}
.heading-tiatary {
  font-size: 1.8rem;
  font-size: 700;
  margin-bottom: 1.8rem;
}
.margin-btm {
  margin-bottom: 0.8rem;
}

/* Header */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}

.main-nav {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

.logo {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Averia Serif Libre";
  text-decoration: none;
  color: #555;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #555;
}

.dash::after {
  content: "/";
  margin-left: 1.2rem;
}

/* Section Hero */
.wrapper-hero {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.hero-text {
  font-size: 1.8rem;
  font-weight: 500;
}

/* Section Main Content  */
.main-content {
  padding: 8.6rem 0;
}

.wrapper-main-content {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 20rem 1fr 1fr;
}

.side-content-left {
  grid-column: 1/2;
  grid-row: 1/4;
  padding-top: 2.4rem;
  border-right: 1px solid black;
}

.side-content-left h2 {
  margin-left: 1.2rem;
}

.side-content-left-text {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}

.scl-link:link,
.scl-link:visited {
  text-decoration: none;
  display: block;
  color: #555;
  font-size: 1.6rem;
  padding: 0 0 1.4rem 1rem;
}
.scl-list {
  border-bottom: 1px solid black;
}
.scl-list:last-child {
  border: none;
}

.main-1 {
  padding: 2.4rem 2.4rem;
  border-bottom: 1px solid black;
}
.main-heading {
  font-size: 2.4rem;
  font-size: 700;
  margin-bottom: 1.8rem;
}
.main-1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.main-1-text {
  font-size: 1.2rem;
  font-weight: 500;
}

.main-1-description {
  font-size: 1.6rem;
  font-weight: 500;
}

.profile:link,
.profile:visited {
  text-decoration: none;
  color: #339af0;
  font-size: 1.4rem;
}

.main-2 {
  padding: 1.2rem 2.4rem;
}
.main-2-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-2-description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
}

.side-content-right {
  grid-column: 3/4;
  grid-row: 1/3;
  border-left: 1px solid black;
  padding: 2.4rem 1.2rem;
}

.side-content-right-description {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.side-content-right-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1.3rem;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
}
.courses-content {
  color: #555;
  font-size: 1.6rem;
}

/* Testimonial */
.testimonial {
  padding: 8.6rem 0 4.4rem 0;
}
.testimonial-heading {
  font-size: 2.4rem;
  font-size: 700;
  margin-bottom: 3.6rem;
}

.testimonial-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  border: 1px solid black;
  border-radius: 2.4rem;

  padding: 2.4rem 2.4rem;
}

.testimonial-description {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
}

.testimonial-name,
.testimonial-role {
  font-size: 1.6rem;
  font-weight: 500;
}

/* footer */
footer {
  padding: 8.6rem 0 2.4rem 0;
}

footer p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
}
